d2c-org/ilh-sales/consumer-opportunity-automation/main/default/flows/ILH_CreateUpdatePersonAccountALF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>A record intended as an update was switched to an insert because the RTMI ID already existed</description>
        <name>A_record_for_update_changed_to_insert_because_RTMI_ID_already_existed</name>
        <label>A record for update changed to insert because RTMI ID already existed</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create010</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <stringValue>Update switched to Insert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestData</name>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.PersonID__pc</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Create010_Person_Account_Errors</name>
        <label>Handle Create010 Person Account Errors</label>
        <locationX>2074</locationX>
        <locationY>1466</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Create010 Person Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Get015_Query_for_RTMI_ID_errors</name>
        <label>Handle Get015 Query for RTMI ID errors</label>
        <locationX>1634</locationX>
        <locationY>974</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Get015 Query if RTMI ID already exists</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Get020_Accounts_with_matching_RTMI_ID_but_different_Salesforce_ID_errors</name>
        <label>Handle Get020 Accounts with matching RTMI ID but different Salesforce ID errors</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Get020 Accounts with matching RTMI ID but different Salesforce ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Get_PersonAccount_Record_Type_ID_Errors</name>
        <label>Handle Get PersonAccount Record Type ID Errors</label>
        <locationX>2338</locationX>
        <locationY>242</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Get010_Person_Account_RecordTypeID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Update010_PersonAccount_Errors</name>
        <label>Handle Update010 PersonAccount Errors</label>
        <locationX>930</locationX>
        <locationY>1532</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Update PersonAccount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Input_Variables_to_Record</name>
        <label>Assign Input Variables to Record</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonID__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_PersonID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDt_BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_WorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Suffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment010_Account_to_Person</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>set the record type on new Account record to Person Account</description>
        <name>Assignment010_Account_to_Person</name>
        <label>Assignment010 Account to Person</label>
        <locationX>1040</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get010_Person_Account_Record_Type_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision010_Is_AccountID_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>RTMI ID already exists so we don&apos;t want to insert another record with the same RTMI ID</description>
        <name>Assignment015_Blank_out_RTMI_ID</name>
        <label>Assignment015 Blank out RTMI ID</label>
        <locationX>1194</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonID__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create010</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value from create function to variable for output to calling flow</description>
        <name>Assignment020_Account_ID_to_Output_Variable</name>
        <label>Assignment020 Account ID to Output Variable</label>
        <locationX>1040</locationX>
        <locationY>1856</locationY>
        <assignmentItems>
            <assignToReference>outputTxt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_Record_is_null</name>
        <label>Check if Record is null</label>
        <locationX>1040</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assignment010_Account_to_Person</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Record_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Variables_to_Record</targetReference>
            </connector>
            <label>Null Record</label>
        </rules>
    </decisions>
    <decisions>
        <description>if account ID is populated, update Person Account
else create Person Account</description>
        <name>Decision010_Is_AccountID_Populated</name>
        <label>Decision010 Is AccountID Populated</label>
        <locationX>1040</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Decision011_Is_RTMI_ID_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>AccountID is blank</defaultConnectorLabel>
        <rules>
            <name>AccountID_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision020_Is_RTMI_ID_populated</targetReference>
            </connector>
            <label>AccountID is populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Before inserting a new record, check if the RTMI ID already exists and if so, blank it out</description>
        <name>Decision011_Is_RTMI_ID_populated</name>
        <label>Decision011 Is RTMI ID populated</label>
        <locationX>1612</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Create010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RTMI ID is blank</defaultConnectorLabel>
        <rules>
            <name>RTMI_ID_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.PersonID__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.PersonID__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get015_Query_if_RTMI_ID_already_exists</targetReference>
            </connector>
            <label>RTMI ID is populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>If RTMI ID already exists, blank it out before inserting a new record</description>
        <name>Decision012_Does_RTMI_ID_already_exist</name>
        <label>Decision012 Does RTMI ID already exist</label>
        <locationX>1326</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create010</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RTMI ID does not already exist</defaultConnectorLabel>
        <rules>
            <name>RTMI_ID_already_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get015_Query_if_RTMI_ID_already_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment015_Blank_out_RTMI_ID</targetReference>
            </connector>
            <label>RTMI ID already exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>If RTMI ID to be saved matches any accounts with different Salesforce IDs, this record needs to be inserted, not performed as an update to an existing record.</description>
        <name>Decision020_Is_RTMI_ID_populated</name>
        <label>Decision020 Is RTMI ID populated</label>
        <locationX>468</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Update010_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>RTMI ID is blank</defaultConnectorLabel>
        <rules>
            <name>RTMI_ID_is_populated2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.PersonID__pc</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.PersonID__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get020_Accounts_with_matching_RTMI_ID_but_different_AccountID</targetReference>
            </connector>
            <label>RTMI ID is populated2</label>
        </rules>
    </decisions>
    <decisions>
        <description>If RTMI ID matches any account with a different Salesforce ID, this record is logged and an insert is performed, not an update</description>
        <name>Decision021_Does_RTMI_ID_match_any_existing_account_with_different_Salesforce_ID</name>
        <label>Decision021 Does RTMI ID match any existing account with different Salesforce ID</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Update010_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existing accounts with matching RTMI ID</defaultConnectorLabel>
        <rules>
            <name>RTMI_ID_matches_existing_account_with_different_Salesforce_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get020_Accounts_with_matching_RTMI_ID_but_different_AccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A_record_for_update_changed_to_insert_because_RTMI_ID_already_existed</targetReference>
            </connector>
            <label>RTMI ID matches existing account with different Salesforce ID</label>
        </rules>
    </decisions>
    <description>This flow takes in information about an individual (either record or individual fields) and creates or updates a Person Account based on whether the Account ID field is populated. It also checks whether the RTMI ID already exists before inserting a new record. The Account ID is returned to the calling flow.</description>
    <environments>Default</environments>
    <interviewLabel>Create-Update Person Account ALF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILH: Create-Update Person Account ALF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>***to do*** include all relevant details to give developer an overview</description>
        <name>Create010</name>
        <label>Create010 Person Account</label>
        <locationX>1612</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Assignment020_Account_ID_to_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Create010_Person_Account_Errors</targetReference>
        </faultConnector>
        <inputReference>recordPersonAccountToCreateUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get010_Person_Account_Record_Type_ID</name>
        <label>Get010 Person Account Record Type ID</label>
        <locationX>1040</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Record_is_null</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Get_PersonAccount_Record_Type_ID_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get015_Query_if_RTMI_ID_already_exists</name>
        <label>Get015 Query if RTMI ID already exists</label>
        <locationX>1326</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision012_Does_RTMI_ID_already_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Get015_Query_for_RTMI_ID_errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonID__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.PersonID__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query if RTMI ID matches any accounts with different Salesforce ID</description>
        <name>Get020_Accounts_with_matching_RTMI_ID_but_different_AccountID</name>
        <label>Get020 Accounts with matching RTMI ID but different AccountID</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision021_Does_RTMI_ID_match_any_existing_account_with_different_Salesforce_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Get020_Accounts_with_matching_RTMI_ID_but_different_Salesforce_ID_errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonID__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.PersonID__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>**to do**</description>
        <name>Update010_Person_Account</name>
        <label>Update010 Person Account</label>
        <locationX>468</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Assignment020_Account_ID_to_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Update010_PersonAccount_Errors</targetReference>
        </faultConnector>
        <inputReference>recordPersonAccountToCreateUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get010_Person_Account_Record_Type_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputDt_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_PersonID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Suffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_WorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store value of account ID of record created by this flow and return to calling flow</description>
        <name>outputTxt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>**to do**</description>
        <name>recordPersonAccountToCreateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
