d2c-org/ilh-sales/consumer-opportunity-automation/main/default/flows/ILH_CreateUpdatePersonAccountScrF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>This assignment allows for the screen&apos;s default values to be set to the scrVar variables. Needed in case control returns to the screen after failing validation.</description>
        <name>Assignment001_Initialize_screen_values</name>
        <label>Assignment001 Initialize screen values</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>scrVar_BirthDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDt_BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Suffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_WorkPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_WorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen010_Person_Account_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Save the values from the screen in variables so they can be restored if validation fails and control returns to the screen</description>
        <name>Assignment002_Save_screen_values</name>
        <label>Assignment002 Save screen values and reset error flag</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>scrVar_BirthDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSuffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Gender</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklGender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_HomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_WorkPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_WorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>bln_ScreenIsValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_ZipCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scrVar_AddressStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision007_Address_is_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign values from screen to object to pass to subflow</description>
        <name>Assignment010_Person_Account_Fields</name>
        <label>Assignment010 Person Account Fields</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txt_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNonNumericsFromHomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonID__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_PersonId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt_BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pklGender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNonNumericsFromMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>removeNonNumericsFromWorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtMiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>txtSuffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_ilhAddressLookup.txt_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordAccountToUpdate.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cmp_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateUpdatePersonAccount_ALF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment011_Error_flag</name>
        <label>Assignment011 Error flag</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>bln_ScreenIsValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen010_Person_Account_Entry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment012_Error_Flag</name>
        <label>Assignment012 Error Flag</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>bln_ScreenIsValid</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen010_Person_Account_Entry</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>There is a required property on the Address field but could not enforce it programmatically so this Decision serves that purpose</description>
        <name>Decision007_Address_is_populated</name>
        <label>Decision007 Address is populated</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assignment012_Error_Flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Address is blank</defaultConnectorLabel>
        <rules>
            <name>Address_is_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>scrVar_AddressStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressStreet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressCity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressState</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_AddressCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_ZipCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>scrVar_ZipCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision008_At_least_one_phone_number</targetReference>
            </connector>
            <label>Address is populated</label>
        </rules>
    </decisions>
    <decisions>
        <description>One of the 3 phone numbers is a required field (home, mobile, work)</description>
        <name>Decision008_At_least_one_phone_number</name>
        <label>Decision008 At least one phone number</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assignment011_Error_flag</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Missing phone number</defaultConnectorLabel>
        <rules>
            <name>At_least_one_phone_number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>validateAtLeastOnePhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment010_Person_Account_Fields</targetReference>
            </connector>
            <label>At least one phone number</label>
        </rules>
    </decisions>
    <description>This screen flow is passed some consumer information and the PersonAccount fields are displayed for edit. After validation, the ALF is called to perform the create/update.</description>
    <dynamicChoiceSets>
        <description>Gender choice set pulled from Account</description>
        <name>csGender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__pc</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fml_ReformatDate</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!scrVar_BirthDate}))+ &quot;-&quot; + TEXT(DAY({!scrVar_BirthDate}))+ &quot;-&quot; + TEXT(YEAR({!scrVar_BirthDate}))</expression>
    </formulas>
    <formulas>
        <description>convert string of digits into xxx-xxx-xxxx</description>
        <name>formatHomePhoneNumber</name>
        <dataType>String</dataType>
        <expression>&quot;(&quot;&amp;Left({!scrVar_HomePhone},3)&amp;&quot;) &quot;&amp;mid({!scrVar_HomePhone},4,3)&amp;&quot;-&quot;&amp;right({!scrVar_HomePhone},4)</expression>
    </formulas>
    <formulas>
        <description>remove spaces, dashes and parentheses from phone number</description>
        <name>removeNonNumericsFromHomePhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE ( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!txt_HomePhone} , &quot; &quot;, &quot;&quot;) , &quot;-&quot;, &quot;&quot;) , &quot;)&quot;, &quot;&quot;) , &quot;(&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>removeNonNumericsFromMobilePhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE ( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!txt_MobilePhone} , &quot; &quot;, &quot;&quot;) , &quot;-&quot;, &quot;&quot;) , &quot;)&quot;, &quot;&quot;) , &quot;(&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>removeNonNumericsFromWorkPhone</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE ( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!txt_WorkPhone} , &quot; &quot;, &quot;&quot;) , &quot;-&quot;, &quot;&quot;) , &quot;)&quot;, &quot;&quot;) , &quot;(&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>validate that at least one of the phone number fields is populated</description>
        <name>validateAtLeastOnePhone</name>
        <dataType>Boolean</dataType>
        <expression>OR(LEN({!txt_HomePhone})&gt;0, LEN({!txt_MobilePhone})&gt;0, LEN({!txt_WorkPhone})&gt;0)</expression>
    </formulas>
    <formulas>
        <description>confirm phone number is 10 digits</description>
        <name>validateHomePhone</name>
        <dataType>Boolean</dataType>
        <expression>AND(LEN(SUBSTITUTE ( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!txt_HomePhone} , &quot; &quot;, &quot;&quot;) , &quot;-&quot;, &quot;&quot;) , &quot;)&quot;, &quot;&quot;) , &quot;(&quot;, &quot;&quot;))=10, 
NOT(REGEX(SUBSTITUTE ( SUBSTITUTE( SUBSTITUTE( SUBSTITUTE( {!txt_HomePhone} , &quot; &quot;, &quot;&quot;) , &quot;-&quot;, &quot;&quot;) , &quot;)&quot;, &quot;&quot;) , &quot;(&quot;, &quot;&quot;) ,&quot;^[a-z A-Z]*$&quot;)) 
)</expression>
    </formulas>
    <interviewLabel>ILH: Create-Update Person Account ScrF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILH: Create-Update Person Account ScrF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>launched when CPS is missing info</description>
        <name>Screen010_Person_Account_Entry</name>
        <label>Screen010 Person Account Entry</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assignment002_Save_screen_values</targetReference>
        </connector>
        <fields>
            <name>Consumer_Details</name>
            <fieldText>Consumer Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Consumer_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_FirstName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_FirstName</elementReference>
                    </defaultValue>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>txtMiddleName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_MiddleName</elementReference>
                    </defaultValue>
                    <fieldText>Middle Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>txt_LastName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_LastName</elementReference>
                    </defaultValue>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>txtSuffix</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_Suffix</elementReference>
                    </defaultValue>
                    <fieldText>Suffix</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Consumer_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pklGender</name>
                    <choiceReferences>csGender</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_Gender</elementReference>
                    </defaultValue>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>dt_BirthDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>scrVar_BirthDate</elementReference>
                    </defaultValue>
                    <fieldText>Birth Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cmp_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>scrVar_Email</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_Phone</name>
            <fieldText>Address/Phone</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Address_Phone_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cmp_ilhAddressLookup</name>
                    <extensionName>c:ilhAddressLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>txt_City</name>
                        <value>
                            <elementReference>scrVar_AddressCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>txt_State</name>
                        <value>
                            <elementReference>scrVar_AddressState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>txt_Street</name>
                        <value>
                            <elementReference>scrVar_AddressStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>txt_Zip</name>
                        <value>
                            <elementReference>scrVar_ZipCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>txt_Country</name>
                        <value>
                            <elementReference>scrVar_AddressCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>errorMsg_AddressIsRequired</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(231, 12, 12);&quot;&gt;Address is required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
                        <conditions>
                            <leftValueReference>bln_ScreenIsValid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>scrVar_AddressStreet</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>scrVar_AddressCity</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>scrVar_AddressState</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>scrVar_AddressCountry</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>scrVar_ZipCode</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Address_Phone_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txt_HomePhone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_HomePhone</elementReference>
                    </defaultValue>
                    <fieldText>Home Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please enter consumer&apos;s phone number in the format xxx-xxx-xxxx.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateHomePhone}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>txt_MobilePhone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_MobilePhone</elementReference>
                    </defaultValue>
                    <fieldText>Mobile Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(234, 0, 30); font-size: 11px;&quot;&gt;Please enter consumer&apos;s phone number in the format xxx-xxx-xxxx.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(LEN({!txt_MobilePhone})=10, 
NOT(REGEX({!txt_MobilePhone} ,&quot;^[a-z A-Z]*$&quot;)) 
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>txt_WorkPhone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>scrVar_WorkPhone</elementReference>
                    </defaultValue>
                    <fieldText>Work Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(234, 0, 30); background-color: rgb(255, 255, 255); font-size: 11px;&quot;&gt;Please enter consumer&apos;s phone number in the format xxx-xxx-xxxx.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>AND(LEN({!txt_WorkPhone})=10, 
NOT(REGEX({!txt_WorkPhone} ,&quot;^[a-z A-Z]*$&quot;)) 
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>errorMsg_AtLeastOnePhoneNumberIsRequired</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 12, 12);&quot;&gt;At least one phone number is required.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>bln_ScreenIsValid</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>txt_HomePhone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>txt_MobilePhone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>txt_WorkPhone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment001_Initialize_screen_values</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>calls autolaunched flow to perform insert/update logic</description>
        <name>CreateUpdatePersonAccount_ALF</name>
        <label>Create-Update Person Account ALF</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <flowName>ILH_CreateUpdatePersonAccountALF</flowName>
        <inputAssignments>
            <name>recordPersonAccountToCreateUpdate</name>
            <value>
                <elementReference>recordAccountToUpdate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>outputTxt_AccountId</assignToReference>
            <name>outputTxt_AccountId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Flag set to false if validation fails and control returns to screen</description>
        <name>bln_ScreenIsValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inputDt_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_PersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Suffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_WorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store the value of the Account ID which was created in the subflow</description>
        <name>outputTxt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordAccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>scrVar_AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_AddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_AddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to save the BirthDate value from the screen</description>
        <name>scrVar_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_Suffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_WorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scrVar_ZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
