d2c-org/ilh-sales/consumer-opportunity-automation/main/default/flows/ILH_OpportunityCreationUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Opportunity_Errors</name>
        <label>Create Opportunity Errors</label>
        <locationX>528</locationX>
        <locationY>1082</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Create Opportunity</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_OpportunityCreationUpdate.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Handle_Get_Record_Type_ID_Errors</name>
        <label>Handle Get Record Type ID Errors</label>
        <locationX>1056</locationX>
        <locationY>242</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Get Record Type ID</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_OpportunityCreationUpdate.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleGetCampaignError</name>
        <label>Handle Get Campaign Error</label>
        <locationX>792</locationX>
        <locationY>350</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Get Campaign Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_OpportunityCreationUpdate.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Opportunity_Values</name>
        <label>Assign Opportunity Values</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityNameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.ProposedCoverage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Record.ProposedCoverageAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Campaign_Record.Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Output_Variable</name>
        <label>Assign Output Variable</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>outputTxt_OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>member_already_exists</name>
        <label>Campaign member already exists</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>CreateCampaignMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Flow is launched from LWC to Apex  that passes in the Account ID which will be associated to the Opportunity.  The flow then passes back the Opportunity ID to the calling Apex class.</description>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>Name consists of Person Last Name with Current Date Timestamp.</description>
        <name>OpportunityNameFormula</name>
        <dataType>String</dataType>
        <expression>{!inputTxt_LastName} + &quot; &quot; + TEXT(NOW())</expression>
    </formulas>
    <interviewLabel>ILH Opportunity Creation - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILH Opportunity Creation - Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Assign_Output_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Opportunity_Errors</targetReference>
        </faultConnector>
        <inputReference>opportunityRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateCampaignMember</name>
        <label>Create Campaign Member</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>opportunityRecord.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Campaign_Record</name>
        <label>Campaign Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opportunity_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleGetCampaignError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Persona__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Retention</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_campaign_Member</name>
        <label>Get campaign Member</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>member_already_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetContact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTxt_AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>Get Record Type ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Get_Record_Type_ID_Errors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ILHSales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactIdavailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Number consumer dialed.  This number is used to find the marketing campaign that drove this call.</description>
        <name>inputTxt_dnis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Last name of Person Account.  Used to create opportunity name</description>
        <name>inputTxt_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>outputTxt_OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProposedCoverage</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>ProposedCoverageAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
