d2c-org/ilh-sales/consumer-opportunity-automation/main/default/flows/ILH_CreateUpdatePersonAccountALF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Handle_UpdateExistingPersonAccount_Errors</name>
        <label>Handle Update Existing Person Account Errors</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>Update Existing Person Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestData</name>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleCreatePersonAccountErrors</name>
        <label>Handle Create Person Account Errors</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>CreateNewPersonAccount</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.PersonID__pc</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>HandleGetPersonAccountRecordTypeIDErrors</name>
        <label>Handle Get PersonAccount Record Type ID Errors</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <actionName>ErrorLogger</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>errorDescription</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operation</name>
            <value>
                <stringValue>GetPersonAccountRecordType</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processName</name>
            <value>
                <stringValue>ILH_CreateUpdatePersonAccount_ALF.flow</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ErrorLogger</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Input_Variables_to_Record</name>
        <label>Assign Input Variables to Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonHomePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_HomePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AccountID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonID__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_PersonID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonBirthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputDt_BirthDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Gender__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Gender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonOtherPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_WorkPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.MiddleName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_MiddleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.Suffix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Suffix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonMailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_AddressCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputTxt_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetRecordTypeOnAccountRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign value from create function to variable for output to calling flow</description>
        <name>AssignAccountIDtoOutputVariable</name>
        <label>Assign Account ID to Output Variable</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>outputTxt_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordPersonAccountToCreateUpdate.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetRecordTypeOnAccountRecord</name>
        <label>Set Record Type on Account Record</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>recordPersonAccountToCreateUpdate.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsAccountIdPopulated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if account ID is populated, update Person Account
else create Person Account</description>
        <name>IsAccountIdPopulated</name>
        <label>Is Account Id populated</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>CreateNewPersonAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Account Id</defaultConnectorLabel>
        <rules>
            <name>YesAccountId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateExistingPersonAccount</targetReference>
            </connector>
            <label>Yes Account Id</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Record input variable is null.  This would indicate that the flow was launched from LWC instead of a Screen Flow.  Screen Flow populates record variable and passes this to this flow.  LWC passes individual input fields.</description>
        <name>IsTheRecordInputVariablePopulated</name>
        <label>Is the Record Input Variable Populated</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>SetRecordTypeOnAccountRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Record Input Variable Populated</defaultConnectorLabel>
        <rules>
            <name>NoRecordInputVariable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordPersonAccountToCreateUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Input_Variables_to_Record</targetReference>
            </connector>
            <label>No Record Input Variable</label>
        </rules>
    </decisions>
    <description>This flow takes in information about an individual (either record or individual fields) and creates or updates a Person Account based on whether the Account ID field is populated.  The Account ID is returned to the calling flow.   During an update the fields that are sent as input variables will be updated with those values.  If no value is sent the Person Account record will be updated to an empty string an empty string.</description>
    <environments>Default</environments>
    <interviewLabel>Create-Update Person Account ALF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILH: Create-Update Person Account ALF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateNewPersonAccount</name>
        <label>Create New Person Account</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>AssignAccountIDtoOutputVariable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleCreatePersonAccountErrors</targetReference>
        </faultConnector>
        <inputReference>recordPersonAccountToCreateUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Record Type Id for Consumer on Account.</description>
        <name>GetRecordTypeID</name>
        <label>Get Record Type ID</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsTheRecordInputVariablePopulated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>HandleGetPersonAccountRecordTypeIDErrors</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consumer</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingPersonAccount</name>
        <label>Update Existing Person Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>AssignAccountIDtoOutputVariable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_UpdateExistingPersonAccount_Errors</targetReference>
        </faultConnector>
        <inputReference>recordPersonAccountToCreateUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inputDt_BirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_AddressStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MiddleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_PersonID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_Suffix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_WorkPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store value of account ID of record created by this flow and return to calling flow</description>
        <name>outputTxt_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>**to do**</description>
        <name>recordPersonAccountToCreateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
