d2c-org/ilh-sales/consumer-opportunity-automation/main/default/flows/ILHSalesCreateInboundCallTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Updates existing Inbound Call Tasks from In Progress to Pending.  Creates a New Inbound Call Task assigned to WhoID and WhatID variables.</description>
    <environments>Default</environments>
    <interviewLabel>Create Inbound Call Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ILH Sales Create Inbound Call Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>CreateInboundCallTask</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CallStartTime__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>inputTxt_OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Inbound Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>InputTxt_WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>inputTxt_WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetRecordType</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateInProgressTasks</targetReference>
        </connector>
        <faultConnector>
            <targetReference>GetRecordTypeId_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InboundCall</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateInProgressTasks</name>
        <label>Update In Progress Tasks</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateInboundCallTaskError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputTxt_OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateInboundCallTask</name>
        <label>Create Inbound Call Task</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <flowName>ExceptionLogCreation</flowName>
        <inputAssignments>
            <name>ErrorDescription</name>
            <value>
                <stringValue>Error Creating Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Create Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>ILH Sales Create Inbound Call Tasks Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>GetRecordTypeId_Error</name>
        <label>Get Record Type Id Error</label>
        <locationX>968</locationX>
        <locationY>242</locationY>
        <flowName>ExceptionLogCreation</flowName>
        <inputAssignments>
            <name>ErrorDescription</name>
            <value>
                <stringValue>Get Record Type ID Error</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Get Record Type Id</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>ILH Sales Create Inbound Call Task Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UpdateInboundCallTaskError</name>
        <label>Update Inbound Call Task Error</label>
        <locationX>704</locationX>
        <locationY>350</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateTask</targetReference>
        </connector>
        <flowName>ExceptionLogCreation</flowName>
        <inputAssignments>
            <name>ErrorDescription</name>
            <value>
                <stringValue>Error updating Inbound Call Tasks to Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Operation</name>
            <value>
                <stringValue>Update In Progress Tasks</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProcessName</name>
            <value>
                <stringValue>ILH Sales Create Inbound Call Tasks Flow</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>inputTxt_OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputTxt_WhatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputTxt_WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
