d2c-org/d2c-core/error-handling-framework/main/default/flows/ExceptionLogCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignExceptionLogValues</name>
        <label>Assign Exception Log Values</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.CurrentUser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.ErrorDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ErrorDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.ProcessName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProcessName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.Operation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.RequestData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RequestData</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TypeOfError</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.StackTrace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StackTrace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.ServiceName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExceptionLogRecord.ReferenceId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferenceID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateExceptionLog</targetReference>
        </connector>
    </assignments>
    <description>This flow is called from other flows within a fault path.  This flow also creates a new Exception Log platform event, which kicks off the Exception Log trigger and creates a new Error Log record.</description>
    <environments>Default</environments>
    <interviewLabel>Exception Log Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Exception Log Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateExceptionLog</name>
        <label>Create Exception Log</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>ExceptionLogRecord</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignExceptionLogValues</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Detailed description of error.</description>
        <name>ErrorDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExceptionLogRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExceptionLog__e</objectType>
    </variables>
    <variables>
        <description>Type of operation that was preformed when the error occurred.</description>
        <name>Operation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indicates where the error originated.</description>
        <name>ProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of record that triggered the error.</description>
        <name>ReferenceID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Data that was entered by user when the error occurred.</description>
        <name>RequestData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Name of the service that was called when the error occurred.</description>
        <name>ServiceName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The stack trace of a thrown exception</description>
        <name>StackTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Describes the error type.</description>
        <name>TypeOfError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
